{% extends 'base.html.twig' %}

{% block body %}
	<div class="storage-container" >
			
		<menu type="context" id="copy-paste">
			<li><i class="fa fa-info-circle" aria-hidden="true"></i> Details</li>
			<li><i class="fa fa-scissors" aria-hidden="true"></i> Ausschneiden</li>
			<li><i class="fa fa-files-o" aria-hidden="true"></i> Kopieren</li>
			<li><i class="fa fa-clipboard" aria-hidden="true"></i> Einfügen</li>
			<li><i class="fa fa-lock" aria-hidden="true"></i> Passwort sichern</li>
			<li><i class="fa fa-unlock-alt" aria-hidden="true"></i> Passwort löschen</li>
			<li><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Umbenennen</li>
			<li><i class="fa fa-pencil" aria-hidden="true"></i> Bearbeiten</li>
			<li><i class="fa fa-download" aria-hidden="true"></i> Downloaden</li>
			<li><i class="fa fa-eye" aria-hidden="true"></i> Öffnen</li>
			<li><i class="fa fa-undo" aria-hidden="true"></i> Wiederherstellen</li>
			<li><i class="fa fa-share-alt" aria-hidden="true"></i> Teilen</li>
			<li><i class="fa fa-trash" aria-hidden="true"></i> Löschen</li>
		</menu>	
		
	
		
		<div class="folder-container">
			<div class="file folder" contextmenu="copy-paste">
				<img src="../images/normal-folder.png" class="img-responsive" />
				<p class="file-name" contenteditable="true">Schule</p>
			</div>
			<div class="file folder marked">
				<img src="../images/normal-folder.png" class="img-responsive" />
				<p class="file-name">Das ist ein Test</p>
			</div>
			<div class="file folder cut-out">
				<img src="../images/normal-folder.png" class="img-responsive" />
				<p class="file-name">Amanak</p>
			</div>
		</div>
		<div class="file-container">
			<div class="file folder">
				<img src="http://verzeichnis.fb-dev.de/img/icons/doc.png" class="img-responsive" />
				<p class="file-name">Schule.doxs</p>
			</div>
			<div class="file folder">
				<img src="http://verzeichnis.fb-dev.de/img/icons/doc.png" class="img-responsive" />
				<p class="file-name">Das ist ein Test.txt</p>
			</div>
			<div class="file folder">
				<img src="http://verzeichnis.fb-dev.de/img/icons/doc.png" class="img-responsive" />
				<p class="file-name">Amanak.exe</p>
			</div>
		</div>
	</div>
		<div class="code-container container">
			<pre class="line-numbers" data-line="11-20">
				<code class="language-php">
			
				require("fns.php");

				// connection aufbauen
				$db	= new db($_config['DB_user_TYPO3'], $_config['DB_password_TYPO3'], $_config['DB_name_TYPO3'], $_config['DB_server_TYPO3']);

				class user_contents_startseite
				{
				   
					var $db = "";
					
					function __construct() {
						   
						   global $db;
						   
							//print "Im Konstruktor user_contents_startseite\n";
						   
						   $this->db = $db;
						   
						   
					}
					
					function main() {
						$pageid = intval($GLOBALS['TSFE']->id);
						$langid = $GLOBALS['TSFE']->sys_language_uid;
						$myCObj = new tslib_cObj();
						$content = "";
						// set connection utf8
						$this->db->query("SET NAMES 'utf8'");

						if($pageid>0) {
											
							$results = $this->db->get_results($sql);
							if($results!=null) {
								
								
								foreach ($results as $result) {
										
									//echo "<br>".$sql2;

									$results2 = $this->db->get_results($sql2);
									if($results2!=null) {
										
										foreach ($results2 as $result2) {
											
											$imageinfos = explode("|", getImageInfos($result2->uid, $this->db));
											$image = explode(",", $imageinfos[0]);
											$image = $image[0];
											$conf = array(
												//z.B. uploads/tx_name/name.jpg:
												'file' => "fileadmin/".$image,
												'file.' => array(
													'maxW' => 10,
													'maxH' => 10
												)
											);
											$imgResource = $myCObj->getImgResource($conf['file'], $conf['file.']);
											
											//echo $imgResource[3];
											// Title Text zusammenbauen
											//$titletext = $result2->titletext;

											$changedate = $result2->tstamp;
											
											
											$titletext = explode(",", $imageinfos[1]);
											$titletext = $titletext[0];
											if(trim($titletext)=="") {
												$titletext = $result->bodytext;
											}

											$titletext = str_replace("\n\r"," ",$titletext);
											$titletext = str_replace("<br />"," ",$titletext);
											$titletext = trim(strip_tags($titletext));
											
											// Title nach 200 Zeichen abschneiden, ohne Wörter zu zerstören
											if(strlen($titletext)>120) {
												$titletext = preg_replace("/[^ ]*$/", '', substr($titletext, 0, 120));
											}
							
											/*
											$picture = "<img alt=\"".$titletext."\" data-max=\""."fileadmin/".$image."\" title=\"".$titletext."\"
											class=\"backgroundimage\" src=\"".getSEOImagePath($imgResource[3], $titletext, $pageid,
													$this->db, $changedate)."\" />";
											*/
											
											$picture = "<img alt=\"".$titletext."\" data-max=\""."fileadmin/".$image."\" title=\"".$titletext."\"
											class=\"backgroundimage\" src=\"".$imgResource[3]."\" />";
										}
									}
										
								}
							}
						}

						return $content;
					}
				}

				</code>
			</pre>
		
		</div>
		
	
{% endblock %}


